.textomaior {
  font-size: 150%;
}

.font-menu {
  font-family: "sarabun";
  font-size: 14px;
  font-weight: 500;
}

.font-sub-titulo {
  font-family: "sarabun", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.25;
  color: #222;
}

.font-text {
  font-family: "roboto", sans-serif;
  color: #5e5e5e;
  font-size: 1rem;
  line-height: 1.25;
}
