.menu {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: #d0acdd;
  padding: 10px;
  text-transform: uppercase;
  grid-column: 3/-1;
  display: flex;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu a {
  display: inline-block;
  padding: 10px;
}

.menu li {
  margin-right: 10px;
}

@media (max-width: 700px) {
  .menu {
    grid-column: 1;
  }
}
